In [14]:
#row index reference
idxOrderID = 0
idxOrderQty = 1
idxOrderItem = 2
idxOrderDesc = 3
idxOrderPrice = 4

import csv
import re
import pandas as pd
import numpy

# specify that the delimiter is a tab character
# make 'fileNestedList' = list of rows

with open( 'order.tsv', mode = 'rU') as f:
    fileNestedList = [row for row in csv.reader( f, delimiter='\t')]

# separate the header and data
header = fileNestedList[0]
data = fileNestedList[1:]

# Cleanse data to a basic standard
for row in data:
    # Make Order ID's clean to 00000 format
    row[idxOrderID] = row[idxOrderID].strip().rjust(5,"0")

    # Convert Qty from String to Float
    row[idxOrderQty] = float(row[idxOrderQty])
    
    # Eliminate [ & ] from Toppings
    row[idxOrderDesc] = re.sub(r'[\[\]]', '', row[idxOrderDesc])
    
    # Remove NULL toppings
    if row[idxOrderDesc] == 'NULL': row[idxOrderDesc] = ''
    
    #Convert Desc/Toppings to a list
    tempList = []
    tempList += [item.strip() for item in row[idxOrderDesc].split(',')]
    row[idxOrderDesc] = tempList
    
    # Make Order Item Price into a float
    row[idxOrderPrice] = float(re.sub(r'[^\d.]', '', row[idxOrderPrice]))

In [15]:
header[:]
data[:5]

[['00001', 1.0, 'Chips and Fresh Tomato Salsa', [''], 2.39],
 ['00001', 1.0, 'Izze', ['Clementine'], 3.39],
 ['00001', 1.0, 'Nantucket Nectar', ['Apple'], 3.39],
 ['00001', 1.0, 'Chips and Tomatillo-Green Chili Salsa', [''], 2.39],
 ['00002',
  2.0,
  'Chicken Bowl',
  ['Tomatillo-Red Chili Salsa (Hot)',
   'Black Beans',
   'Rice',
   'Cheese',
   'Sour Cream'],
  16.98]]

In [16]:
header[:]
data[-5:]

[['01833',
  1.0,
  'Steak Burrito',
  ['Fresh Tomato Salsa',
   'Rice',
   'Black Beans',
   'Sour Cream',
   'Cheese',
   'Lettuce',
   'Guacamole'],
  11.75],
 ['01833',
  1.0,
  'Steak Burrito',
  ['Fresh Tomato Salsa',
   'Rice',
   'Sour Cream',
   'Cheese',
   'Lettuce',
   'Guacamole'],
  11.75],
 ['01834',
  1.0,
  'Chicken Salad Bowl',
  ['Fresh Tomato Salsa',
   'Fajita Vegetables',
   'Pinto Beans',
   'Guacamole',
   'Lettuce'],
  11.25],
 ['01834',
  1.0,
  'Chicken Salad Bowl',
  ['Fresh Tomato Salsa', 'Fajita Vegetables', 'Lettuce'],
  8.75],
 ['01834',
  1.0,
  'Chicken Salad Bowl',
  ['Fresh Tomato Salsa', 'Fajita Vegetables', 'Pinto Beans', 'Lettuce'],
  8.75]]

In [17]:
pdData = pd.read_csv('order.tsv', sep = "\t", na_filter=False)

pdData.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NULL,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NULL,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NULL,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NULL,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

In [18]:
pdData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    4622 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [19]:
dfData = pd.DataFrame.from_records(data, columns=header)

dfData.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,00001,1.0,Chips and Fresh Tomato Salsa,[],2.39
1,00001,1.0,Izze,[Clementine],3.39
2,00001,1.0,Nantucket Nectar,[Apple],3.39
3,00001,1.0,Chips and Tomatillo-Green Chili Salsa,[],2.39
4,00002,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), Black Beans,...",16.98
5,00003,1.0,Chicken Bowl,"[Fresh Tomato Salsa (Mild), Rice, Cheese, Sour...",10.98
6,00003,1.0,Side of Chips,[],1.69
7,00004,1.0,Steak Burrito,"[Tomatillo Red Chili Salsa, Fajita Vegetables,...",11.75
8,00004,1.0,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, Pinto Beans, Che...",9.25
9,00005,1.0,Steak Burrito,"[Fresh Tomato Salsa, Rice, Black Beans, Pinto ...",9.25
10,00005,1.0,Chips and Guacamole,[],4.45
11,00006,1.0,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, Fajita Vegetables, ...",8.75
12,00006,1.0,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice, Black Beans, ...",8.75
13,00007,1.0,Chicken Bowl,"[Fresh Tomato Salsa, Fajita Vegetables, Rice, ...",11.25
14,00007,1.0,Chips and Guacamole,[],4.45
15,00008,1.0,Chips and Tomatillo-Green Chili Salsa,[],2.39
16,00008,1.0,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), Pinto B...",8.49
17,00009,1.0,Chicken Burrito,"[Fresh Tomato Salsa (Mild), Black Beans, Rice,...",8.49
18,00009,2.0,Canned Soda,[Sprite],2.18
19,00010,1.0,Chicken Bowl,"[Tomatillo Red Chili Salsa, Fajita Vegetables,...",8.75

In [20]:
dfData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null object
quantity              4622 non-null float64
item_name             4622 non-null object
choice_description    4622 non-null object
item_price            4622 non-null float64
dtypes: float64(2), object(3)
memory usage: 180.6+ KB

In [31]:
dfData.describe()

          quantity   item_price
count  4622.000000  4622.000000
mean      1.075725     7.464336
std       0.410186     4.245557
min       1.000000     1.090000
25%       1.000000     3.390000
50%       1.000000     8.750000
75%       1.000000     9.250000
max      15.000000    44.250000

In [25]:
[method for method in dir(dfData) if not re.search(r'^_',  method)]

['T',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'choice_description',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isnull',
 'item_name',
 'item_price',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'nunique',
 'order_id',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'quantity',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [26]:
print "Order Price Sum   :", round(dfData['item_price'].sum(),2)
print "Order Price Mean  :", round(dfData['item_price'].mean(),2)
print "Order Price Mode  :", round(dfData['item_price'].mode(),2)
print "Order Price Median:", round(dfData['item_price'].median(),2)
print "Order Price Std   :", round(dfData['item_price'].std(),2)

Order Price Sum   : 34500.16
Order Price Mean  : 7.46
Order Price Mode  : 8.75
Order Price Median: 8.75
Order Price Std   : 4.25

In [34]:
dfData.order_id.unique()

array(['00001', '00002', '00003', ..., '01832', '01833', '01834'], dtype=object)

In [36]:
dfData.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos', 'Chicken Soft Tacos',
       'Chicken Burrito', 'Canned Soda', 'Barbacoa Burrito',
       'Carnitas Burrito', 'Carnitas Bowl', 'Bottled Water',
       'Chips and Tomatillo Green Chili Salsa', 'Barbacoa Bowl', 'Chips',
       'Chicken Salad Bowl', 'Steak Bowl', 'Barbacoa Soft Tacos',
       'Veggie Burrito', 'Veggie Bowl', 'Steak Crispy Tacos',
       'Chips and Tomatillo Red Chili Salsa', 'Barbacoa Crispy Tacos',
       'Veggie Salad Bowl', 'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'], dtype=object)